<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coderqiang.followme">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" ></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" ></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--允许应用程序更改主屏幕中的设置和快捷方式-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 用于优化GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <application
        android:name=".LocationApplication"
        android:allowBackup="true"
        android:icon="@drawable/f"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name,android:icon,android:label,android:theme,android:supportsRtl,android:allowBackup">
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="djeGjEl5CGTKMlh1p8TN8Engz3tdsL7m" />
        <activity android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true">
        </activity>
        <activity android:name=".Activity.NearbyActivity"/>
        <activity android:name=".Activity.TravlePlanActivity"/>
        <activity android:name=".Activity.UserDetailInfoActivity"/>
        <activity android:name=".Activity.EditUserInfoActivity"/>
        <activity android:name=".Activity.HistoryTrackActivity" />
        <activity android:name=".Activity.AddFriendActivity"/>
        <activity android:name=".Activity.TraceActivity" />
        <activity android:name=".Activity.ImageFilterActivity"/>
        <activity android:name=".Activity.NewDynamicActivity"/>
        <activity android:name=".Activity.LoginActivity"></activity>
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ShowTravlePlanAcvitity"/>
        <activity android:name=".Activity.WebViewActivity"/>
        <activity android:name=".Activity.ChatActivity"/>
        <activity android:name=".Activity.ScenicDetailActivity"
            android:hardwareAccelerated="true"/>
        <activity android:name=".Activity.ScenicActivity"/>
        <activity android:name=".Activity.PlaceDetaiWebView"/>
        <activity
            android:name=".IMAbout.Model.Activity.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <activity android:name=".Activity.SignUpActivity"/>
        <activity android:name=".Activity.ChinaActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"/>
        <activity android:name=".Activity.SelectImageActivity"/>
        <activity android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"/>
        <activity android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"/>
        <activity android:name=".IMAbout.Model.Activity.ImageGridActivity"/>
        <activity android:name=".Activity.VoiceCallActivity"/>
        <activity android:name=".IMAbout.Model.Activity.EaseBaiduMapActivity"/>
        <activity android:name=".Activity.PictureActivity" />
        <activity android:name=".Activity.TestActivity"/>
        <activity android:name=".Activity.TransitionActivity"/>
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1111161104115198#followme" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- mi push end -->


        <!-- huawei push 第三方相关 :接收Push消息（注册、Push消息、Push连接状态、标签，LBS上报结果）广播 -->
        <receiver
            android:name="com.hyphenate.chat.EMHuaweiPushReceiver"
            android:exported="true">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>
            />
            <meta-data
                android:name="CS_cloud_ablitity"
                android:value="successRateAnalytics" />
        </receiver>
        <!-- PushSDK:PushSDK接收外部请求事件入口 -->
        <receiver
            android:name="com.huawei.android.pushagent.PushEventReceiver"
            android:exported="true"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL" />
                <action android:name="com.huawei.intent.action.PUSH" />
                <action android:name="com.huawei.intent.action.PUSH_ON" />
                <action android:name="com.huawei.android.push.PLUGIN" />
            </intent-filter>
        </receiver>

    </application>

</manifest>